# Виртуальные окружения
.venv/
venv/
env/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Артефакты сборки
.build/
dist/

# IDE / редакторы
.idea/
.vscode/
*.code-workspace

# Системные файлы
.DS_Store
Thumbs.db
